# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de entorno
.env

# IDE y configuración de proyecto
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Otros
*.lock
